*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
}
body{
    background-color: yellow;

}

.container_div{
    display: flex;
    flex-direction: row;
}
.main_div{
    display: flex;
    flex-direction: column;
}
aside{
    padding: 2rem;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-family: 'Seymour One', sans-serif;
}
header{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(15vh - 10px);
}
header h2{
    background-color: red;
    color: black;
    font-weight: 800;
    height: 30px;

}
input{
    width: 550px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cartel_menu{
    background-color: aqua;
    border: 1px solid black;   
    padding: 10px;
    text-align: center;
    width: 100px;
    box-shadow: 1px 1px 1px 1px black;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    margin: 0 10px;
}
li a{
    display: flex;
    flex-direction: column;
}
li a button{
    width: 50px;
}
.icons_nav{
    width: 30px;
    height: 30px;
}
main{
    height: 70vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}
main *{
    margin: 0 10px;
}
main .first_main_sect div{
    background-color: cornflowerblue;
    border-radius: 20px;
    
}

main .first_main_sect div select{
    width: calc(100% - 20px);
    display: flex;
    margin: 2rem 10px;
    
    flex-direction: column;
}
main .first_main_sect {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    border-radius: 20px;
}
main .first_main_sect *{
    margin: 15px 0;
}
.container_help{
    display: flex;
    flex-direction: row;
    
}
.container_help img{
    min-width: 100px;
    height: 100px;
}
.container_help p{
    padding: 0 10px;

    width: 150px;
}
section{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.puntos_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px;
    background-color: cornflowerblue;
}
.puntos_div p{
    font-size: 20px;
    text-align: center;
}
.tools_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: cornflowerblue;
}
.tools_div img{
    width: 70px;
    height: 70px;    
}
.tools_div p{
    font-size: 1rem;
    text-align: center;
}
.point_switch p{
    border: 1px solid black;
    padding: 8px;
    box-shadow: 1px 1px 1px 1px black;
    margin-right: 10px;
    background-color: cornflowerblue;
}
.point_switch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}
.point_switch img{
    width: 30px;
    height: 30px;
}
footer{
    margin-top: 20px;
    height: calc(15vh - 20px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    background-color: cornflowerblue;

}
footer p{
    font-family: 'Exo', sans-serif;
}
footer img{
    width: 50px;
    height: 50px;
}